<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      Applicaicon ABI
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <ion-card showWhen="android,ios">
    <ion-card-header>
      <h2>Camera</h2>
    </ion-card-header>
    <ion-card-content>
        <button ion-button full (click)="openCamera(true)">Camera</button>
    </ion-card-content>
  </ion-card>

  <ion-card showWhen="android,ios">
    <ion-card-header>
      <h2>Gallery</h2>
    </ion-card-header>
    <ion-card-content>
        <button ion-button full (click)="openCamera(false)">Gallery</button>
    </ion-card-content>
  </ion-card>

  <ion-card  showWhen="android,ios" *ngIf="imagePath">
    <ion-card-content>
        <img [src]="imagePath" alt="">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <h2>Location</h2>
    </ion-card-header>
    <ion-card-content>
        <button ion-button full (click)="loadlocation(true)">location</button>
        <p *ngIf="locationUser">{{locationUser.timestamp}}</p>
    </ion-card-content>
  </ion-card>  



  
  <ion-card>
    <ion-card-header>
      <h2>Desbloqueo  Empleado SAP</h2>
    </ion-card-header>
    <ion-card-content>
      <form-dynamic [inputdinamico]="inputdinamico"  (values)="unblockSAP($event)"></form-dynamic>
      <p *ngIf='result'>{{result}}</p>
    </ion-card-content>
  </ion-card>  

  <ion-card>
    <ion-card-header>
      <h2>Reset Password Usuario SFCD</h2>
    </ion-card-header>
    <ion-card-content>
      <form-dynamic [inputdinamico]="formrenewpwdSF"  (values)="resetPasswordSFDC($event)"></form-dynamic>
      <p *ngIf='result'>{{result}}</p>
    </ion-card-content>    
  </ion-card>  
  
</ion-content>
