<div>
  
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div *ngFor="let inputdinamico of inputdinamico" class="form-row">
      <input-dinamico [inputdinamico]="inputdinamico" [form]="form"></input-dinamico>
    </div>

    <div class="form-row">
      <button type="submit" [disabled]="!form.valid">Enviar Petición</button>
    </div>
  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>


</div>
